* { 
    margin: 0;
    padding: 0;
    font-family: 'Cy', 'Circular Std Medium';
}


.header-div {
    display: flex;
    justify-content: center;
    background-color: #FFDCAE;
    height: 72px;
    padding-top: 0.5rem;
}

.text-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 550px;
    background-color: #FFDCAE;
    text-align: center;
    
    
}

.taco1-div {
    display: flex;
    flex-direction: row;
    background-color: #F1F5DF;
    height: 559px;
 
    
}
   
.foodimg {
    height: auto;
    width: 50%;
    object-fit: cover;

}

 .foodtext-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    text-align: center;
}

.taco2-div {
    display: flex;
    flex-direction: row-reverse;
    background-color: #F1F5DF;
    height: 559px;
}

.footer-div {
    display: flex;
    justify-content: space-around;
    height: 573px;
    align-items: center;
    text-align: center;
    padding: 5rem;
    background-color: #BAD4AA;
}

.booking-div {
    display: flex;
    flex-direction: column;
    height: 500px;
    padding-bottom: 8rem;
    align-items: center;
    text-align: center;
    background-color: #BAD4AA;
}

input {
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    border-style: none;
    width: 45rem;
    color: #AE3D14;
    background-color: #F1F5DF;
   
}

button {
    padding: 1rem;
    margin-bottom: 2rem;
    margin-top: 1.5rem;
    width: 12rem;
    border-radius: 0.5rem;
    border-style: none;
    background-color: #AE3D14;
    color: white;

}

::placeholder {
    color: #AE3D14;
    font-weight: 600;
 
}


    h1 {
        font-family: 'Cy';
        font-size: 75px;
        color: #AE3D14;
        padding-bottom: 1rem;
       
    }
    h2 {
        font-family: 'Cy';
        font-size: 30px;
        color: #AE3D14;
        padding: 2rem;
    }
    h3 {
        font-family: 'Cy';
        font-size: 30px;
        padding-bottom: 1rem;
        color: #AE3D14;
    }
    h4 {
        font-family: 'Circular Std Medium';
        padding-top: 0.8rem;
        font-weight: 600;
        font-size: 23px;
        color: #AE3D14;
    }
    p {
        font-family: 'Circular Std Medium';
        font-weight: 500;
        color: #AE3D14;
    }

 
    



